<div class="mainGrid">
<mat-grid-list cols="3" rowHeight="100px" gutterSize="5px">
    <mat-grid-tile class="gridTile" id="nameTitle" colspan="3" rowspan="1">Silent Emergency Resposne System</mat-grid-tile>
    <mat-grid-tile class="gridTile" id="login" colspan="1.5" rowspan="1">Login</mat-grid-tile>
    <mat-grid-tile class="gridTile" id="register" colspan="1.5" rowspan="1">Register</mat-grid-tile>
    <mat-grid-tile class="gridTile" id="picture" colspan="1" rowspan="2">-Picture-</mat-grid-tile>
</mat-grid-list>
</div>
