<!DOCTYPE html>
<html>
    <head>
        <title>Testing</title>

    </head>
    
    <body>
        <div class="mainGrid">
            <mat-card>
                <mat-card-title>Silent Emergency Response System</mat-card-title>
                <mat-card-subtitle>Enter user credentials below</mat-card-subtitle>
                <mat-card-actions>
                    <div class="userForm">
                        <mat-form-field appearance="standard">
                            <mat-label>Enter your Username</mat-label>
                            <input matInput placeholder="User please">
                        </mat-form-field>
                    </div>
                    <div class="passForm">
                        <mat-form-field>
                            <mat-label>Enter your password</mat-label>
                            <input matInput placeholder="Password please" [hidden]>
                        </mat-form-field>
                    </div>
                </mat-card-actions>
              </mat-card>
            <!--
            <mat-grid-list cols="4" rowHeight="2:1" gutterSize="5px">
                <mat-grid-tile class="gridTile" id="nameTitle" colspan="3" rowspan="1">
                    <mat-card>
                        <mat-card-title>Silent Emergency Response System</mat-card-title>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="gridTile" id="nameTitle" colspan="1" rowspan="2">Picture</mat-grid-tile>
                <mat-grid-tile class="gridTile" id="nameTitle" colspan="3" rowspan="1">
                    <mat-card>
                        <mat-card-actions>
                            <div class="loginForm">
            
                            <button mat-button>Login</button>
                            <button mat-button>Register</button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
            -->
        </div>
    </body>
</html>