<div class="tickets">
    <ul>
    <li class="texts" *ngFor="let student of studentList">
        <p>From: {{student.name}}</p>
        <p>Device: {{student.phone}}</p>
        <button (click)="openChat(student.id)">Go 2 chat</button>
      </li>
    </ul>
</div>

<div class="chat">
    <div *ngIf="activeChat > 0">
        <ul>
            <li class="chatMessages" *ngFor="let message of messages[activeChat]">
                <p>{{message.content}}</p>
                <p style="text-decoration: underline;">Sent at: {{message.timeStamp}}</p>
            </li>
        </ul>
        <div class="input">
            <input id="textBox" type="text" [(ngModel)]="inputValue">
            <button (click)="sendChat()">Send</button>
        </div>
    </div>
</div>


